<% const d = new Date()
let year = d.getFullYear() %>
   <!-- FOOTER Section -->
        <footer>
            <!-- Copyright information -->
            <p>&copy; 2023, CSE 340 App</p>
        </footer>
    </div> <!-- End of #wrapper div -->