
 
<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <a href="/trigger-error" title="Trigger a 500 server error" class="error-trigger-link">Trigger Error</a>
    <p>&copy; <%= year %>, CSE 340 App</p>
</footer>
