
<header>
    <a href="/" title="Return to home page">
        <img src="/images/site/logo.png" alt="CSE Motors Logo">
    </a>
    <div class="account-links">
        <% if (loggedin) { %>                                            <!-- Changed from res.locals.loggedin -->
            <% /* Display Welcome message and Logout link when logged in */ %>
            <a href="/account/" title="Welcome, <%= accountData.account_firstname %>">  <!-- Changed from res.locals.accountData -->
                Welcome <%= accountData.account_firstname %>             <!-- Changed from res.locals.accountData -->
            </a>
            <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else { %>
            <% /* Display My Account link when not logged in */ %>
            <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
    </div>
</header>