
<header>
    <a href="/" title="Return to home page">
        <img src="/images/site/logo.png" alt="CSE Motors Logo">
    </a>
    <div class="account-links">
        <% if (res.locals.loggedin) { %>
            <% /* Display Welcome message and Logout link when logged in */ %>
            <a href="/account/" title="Welcome, <%= res.locals.accountData.account_firstname %>">
                Welcome <%= res.locals.accountData.account_firstname %>
            </a>
            <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else { %>
            <% /* Display My Account link when not logged in */ %>
            <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
    </div>
</header>
