<nav>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/inv/type/custom">Custom</a></li>
        <li><a href="/inv/type/Sedan">Sedan</a></li>
        <li><a href="/inv/type/SUV">SUV</a></li>
        <li><a href="/inv/type/Track">Track</a></li>
    </ul>
</nav>
