
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Custom</a></li>
      <li><a href="/">Sidan</a></li>
      <li><a href="/">Suv</a></li>
      <li><a href="/">Track</a></li>
    </ul>
  </nav>
  