<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/custom">Custom</a></li>
    <li><a href="/sidan">Sedan</a></li>
    <li><a href="/suv">SUV</a></li>
    <li><a href="/track">Truck</a></li>
    <li><a href="/inv">Inventory</a></li>
  </ul>
</nav>
