<h1>Welcome to CSE Motors!</h1>
<p>Your trusted source for quality used vehicles.</p>
<img src="/images/vehicles/delorean.jpg" alt="Showroom of CSE Motors vehicles" class="main-image" />

<section class="upgrades">
  <h1>DeLorean Upgrades</h1>
  
  <div class="upgrade-grid">
    <!-- Row 1 -->
    <div class="upgrade-item">
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
      <h3>Flux Capacitor</h3>
      <div class="ratings">
        <p>"So fast it's almost like traveling in time." (4/5)</p>
        <p>"I'm feeling McFly!" (5/5)</p>
        <p>"The most futuristic ride of our day." (4.5/5)</p>
      </div>
    </div>

    <div class="upgrade-item">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
      <h3>Flame Decals</h3>
      <div class="ratings">
        <p>"Coolest ride on the road." (4/5)</p>
        <p>"80's livin' and I love it!" (5/5)</p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="upgrade-item">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
      <h3>Bumper Stickers</h3>
    </div>

    <div class="upgrade-item">
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
      <h3>Hub Caps</h3>
    </div>
  </div>
</section>
